<h1>Reservation details</h1>

<ul>
    <li><strong>Checkin:</strong> <%= @reservation.checkin %></li>
    <li><strong>Checkout:</strong> <%= @reservation.checkout %></li>
    <li><strong>City:</strong> <%= @car.city %></li>
    <li><strong>Category:</strong> <%= @car.category.name %></li>
    <li><strong>Year:</strong> <%= @car.year %></li>
    <li><strong>Mileage:</strong> <%= @car.mileage %></li>
    <li><strong>Number of seats:</strong> <%= @car.seats %></li>
<%= image_tag @car.picture.url(:medium) %><br><br><br>
<%= link_to 'Delete this reservation', car_reservation_path(@car, @reservation), class: "btn btn-primary", method: :delete, data: {confirm: "Are you positive that you want to delete this reservation?"}  %> <%= link_to 'Back to search results', cars_path, class: "btn btn-primary" %><br>
  </ul>
